* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--font-wix-madefor-display);
}

body {
  background-color: #f9f4ec;
  max-width: 80rem;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-comfortaa);
  font-weight: 700;
}

hr {
  border-color: #00000020;
}

p {
  padding-bottom: 1rem;
}

ul {
  padding-bottom: 1rem;
  padding-left: 2rem;
}

a {
  text-decoration: none;
}
